<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salam Indonesia - Admin</title>
  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="src/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="src/vendor/vue-multiselect.min.css">
  <link rel="stylesheet" href="src/style.css">
</head>
<body>
  <div id="app">
    
    <div class="header" id="app">
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div class="logo-center navbar-brand">
              <a href="#">Salam Indonesia</a>
            </div>
          </div>

          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <button type="button" class="btn btn-primary" v-on:click="getSpot">get all assets</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-primary" v-on:click="getArea">get by area</button>
              </li>
              <li class="nav-item">
                <!-- <button type="button" class="btn btn-danger" v-on:click="deleteAll">delete all</button> -->
              </li>
              <li class="nav-item">
                <!-- <button type="button" class="btn btn-success" v-on:click="generatePDF" v-if="result_length>0">PDF</button> -->
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-danger" v-on:click="logout">Logout</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="content">
      <div class="container-fluid">
        <div class="row" v-if="areaSearchMethod">
          <div class="col-md-4">
            <label for="">Provinsi</label>
            <multiselect v-model="province" :options="province_options" track-by="name" label="name"></multiselect>
          </div>
          <div class="col-md-4">
            <label for="">Kabupaten</label>
            <multiselect v-model="city" :options="city_options" track-by="name" label="name"></multiselect>
          </div>
          <div class="col-md-4">
            <label for="">Kecamatan</label>
            <multiselect v-model="district" :options="district_options" track-by="name" label="name"></multiselect>
          </div>
        </div>
        <hr>
        <p id="result_length"></p>
      </div>
      <div class="container-fluid spots" id="spots"></div>
      <div id="editor"></div>
    </div>

  </div>

  <script src="src/vendor/jquery.min.js"></script>
  <script src="src/vendor/vue.min.js"></script>
  <script src="src/vendor/vue-multiselect.min.js"></script>
  <script src="src/vendor/bootstrap.min.js"></script>
  <script src="src/vendor/pdf.js"></script>
  <script src="src/main.js"></script>
  <script src="src/dashboard.js"></script>
  <script>
    var isAuth = localStorage.getItem('isAuth');
    if(isAuth){
    }else{
      window.location = './index.html';
    }
  </script>
</body>
</html>