* {
	outline: none !important;
}

body {
	font-family: "Open Sans", "Helvetica", sans-serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="file"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
.uneditable-input:focus {   
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}

input[type="file"], select{
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

label {
	user-select: none;
}

form span.loading-text {
	display: none;
	font-size: 0.9em;
	color: #FDB813;
	animation: glow .7s ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes glow {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

.alert {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
}

.flex-container {
	display: flex;
	width: 100%;
}

.btn {
	text-transform: uppercase;
}

.nav-item {
  padding: 15px;
  color: #ccc;
}

/*====*/

.content-absolute-center {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.header {
  text-align: center;
}

.header .navbar {
  padding: 15px;
  border-radius: 0px;
}

.header .navbar .navbar-nav {
  float: right;
}

.header ul li {
  list-style-type: none;
}

.spots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

.spot {
  margin: 0.5%;
  width: 49%;
  border: 1px solid #ccc;
  text-align: justify;
  position: relative;
}

.spot h4 {
  max-width: 90%;
}

.spot .btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  padding: 0 .5rem;
  border-radius: 0px;
}

.spot .media {
  text-align: center;
  display: flex;
  max-width: 100%;
  overflow: scroll;
  overflow-y: hidden;
}

.spot .media img {
  height: 200px;
  margin-right: 15px;
}

@media all and (max-width: 768px) {
  .content-absolute-center {
    width: 80vw;
  }	
  .content-absolute-center h1 {
    font-size: 1.5em;
  } 
  .navbar .navbar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-item {
    padding-left: 0;
  }
  .spot {
    width: 100%;
  }
  .spot img {
    width: 100% !important;
  }
}